streamlit
torch
torchvision
opencv-python-headless
Pillow
numpy
pandas
altair
streamlit-webrtc
efficientnet
matplotlib
tensorflow
efficientnet-pytorch
nltk
twilio
python-dotenv
unidecode
supabase
st-social-media-links
st_login_form
  